/* header */
.titolo{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    vertical-align: top;
}

/* main */

main{
    height: 100vh;
    background-color: lightgrey;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* bottoni superiori */

.bottoni{
    background-color: white;
    width: 57%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 50vh;
}

#button-color{
    background-color: #499fe6;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#button2{
    background-color: white;
    color: lightgrey;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/* inizio liste */

.container{
    background-color: white;
    width: 57%;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 82px;
    left: 50vh;
}


.lista-sopra{
    position: relative;
}

ul{
    list-style-type: none;
    line-height: 40px;
}

.bottoni-finti{
    background-color: #499fe6;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    bottom: 0.2px;
    left: 182px;
}

#green{
    background-color: rgb(73, 156, 73);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    bottom: 0.2px;
    left: 182px; 


}

#mob{
    background-color: orange;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    bottom: 0.2px;
    left: 182px; 

}

#web{
    background-color: rgb(143, 68, 99);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    bottom: 0.2px;
    left: 182px; 
}

#sales{
    background-color: rgb(103, 153, 97);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    bottom: 0.2px;
    left: 182px; 

}

