/* header */
.titolo{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    vertical-align: top;
}

/* main */

main{
    height: 100vh;
    background-color: lightgrey;
    position: relative

}

/* bottoni superiori */

.bottoni{
    background-color: white;
    width: 50%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 50vh;
}

#button-color{
    background-color: #499fe6;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#button2{
    background-color: white;
    color: lightgrey;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/* inizio liste */

.container{
    background-color: white;
    width: 50%;
    height: 100vh;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 82px;
    left: 50vh;
}

.lista1{
    list-style-type: "\25BC";
}

